<app-header></app-header>
<div class="container">
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date Of Birth</th>
                    <th>Position</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.dateOfBirth}}</td>
                    <td [ngClass]="{'manager-position': employee.position.includes('Manager')}">{{employee.position}}</td>
                    <td [ngClass]="{'high-salary':employee.salary>=3000}">{{employee.salary | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>